:root {
    --color-default: #D3D3D3;
    --color-black: #000;
    --color-red: #FF0000;
}

.btn:hover {
    cursor: pointer;
}

.filter-box {
    display: flex;
    gap: 5px;
}

.filter-box .filter-btn {
    padding: 0 5px;
    background: var(--color-default);
}

.select-btn.active {
    display: block;
}

.select-btn {
    display: none;
}

.ticket-li {
    padding: 0 5px;
    border: solid 1px var(--color-default);
}

.ticket-li.active {
    border: solid 1px var(--color-red);
}

.result-box {
    margin-top: 30px;
    border: solid 1px var(--color-default);
}

.result-box .btn-box {
    width: 100%;
    display: flex;
    gap: 10px;
}

.result-box .btn-box .btn {
    display: inline-block;
    width: 50%;
}

.result-box .btn-box>.btn {
    padding: 10px 30px;
    background: var(--color-default);
}

.result-box>.btn-box>.btn:hover {
    background: var(--color-red);
}